/******color palete*******/
/*************************/
.inputContent { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.inputContent .inputTitle { font-size: 20px; margin-bottom: 10px; }

.inputContent .inputBox { display: inline-block; margin-bottom: 20px; }

.inputContent .inputBox input { width: 180px; border: none; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 5px; }

.inputContent button { border: none; padding: 10px 30px; border-radius: 20px; background-color: #b43322; margin-top: 30px; }
