#wrap { height: 100vh; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: brown; }

#wrap .box { width: 500px; height: 400px; background-color: #216d21; border: 30px solid #fff; border-radius: 50px; position: relative; }

#wrap .box #logo { text-transform: capitalize; color: white; font-size: 6rem; position: absolute; top: 25%; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

#wrap .box .enter { position: absolute; top: 60%; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); text-decoration: none; color: black; background-color: #fff; padding: 15px 30px; font-size: 1.5rem; border-radius: 50px; }
