/******color palete*******/
$background-color: #268f63;
$point-color: #b43322;
$semi-color: #70ff9b;
$white-color: #fff;
$black-color: #111615;
$bage-color: rgb(255, 242, 213);
$font-color: #333;
/*************************/
$small-size: 14px;
