@import "vars";
@import "mixins";

form {
  width: 260px;
  margin: 0 auto;
  table {
    width: 100%;
    tbody {
      width: 100%;
      tr {
        width: 100%;
        th {
          width: 100%;
          padding: 30px 0;
          font-size: 18px;
          font-weight: 700;
          font-style: italic;
          display: flex;
          justify-content: left;
        }
        td {
          input {
            width: 90%;
            border: none;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 10px;
            margin-left: 10%;
          }
        }
      }
    }
  }
  .submit {
    padding: 10px 20px;
    border: none;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    color: $white-color;
    background-color: $point-color;
    border-radius: 50px;
    white-space: nowrap;
    @include flexCenter();
  }
}
